<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">

        <!-- DNS Prefetch -->
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href='//fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="dns-prefetch" href="//platform.twitter.com">
        <link rel="dns-prefetch" href="//d1l6p2sc9645hc.cloudfront.net">
        <!-- build:css({app,.tmp}) /css/main.css -->
        <!-- Syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->

        {% contentblock styles %}

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ site.twitter_username }}">
        <meta name="twitter:domain" content="whosdustin.com">
        <meta name="twitter:creator" content="{{ site.twitter_username }}">
        <meta name="twitter:title" content="{{ page.title }} – {{ site.title }}">
        <!-- <meta name="twitter:image:src" content="/logo.png"> -->

    </head>
    <body>
      {% if page.title != 'Success'%}
      <header role="banner" class="l-header">
        {% include header.html %}
      </header>
      {% endif %}
      <main role="main">
        {{ content }}
      </main>
      {% if page.title != 'Success'%}
      <footer role="contentinfo" class="l-footer">
        {% include footer.html %}
      </footer>
      {% endif %}

      {% if page.title == 'Success' %}
        <video id="video" autoplay loop poster="https://0.s3.envato.com/files/143517199/preview.jpg">
          <source src="https://0.s3.envato.com/h264-video-previews/4edae566-6502-4f6c-83be-4752c854fa62/12312083.mp4" type="video/mp4">
        </video>
      {% endif %}


      <!-- jQuery -->
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>

      <!-- build:js({app,.tmp}) /js/scripts.js -->
      <script src="/js/vendor/jquery.validate.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/analysjs.js"></script>
      <!-- endbuild -->

      {% include analytics.html %}

      {% contentblock scripts %}

    </body>
</html>
