---
layout: page
---

<article role="article" itemscope itemtype="http://schema.org/Article">
  <header class="column column--centered column--2-of-3">
    <h1 class="page-title" itemprop="headline">{{ page.title }}</h1>
    <p class="page-meta" itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <section class="column column--centered column--1-of-2 js-nofollow">
    {{ content }}
  </section>
</article>
