// Copyright 2015 Whosdustin
//
// Header Layout
//
.l-header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  border-bottom: solid 1px $layout-border-color;
  background: $white;
  z-index: $z-header;
  @include media(phablet) {
    height: 8.6rem;
  }
}
.l-header-title {
  display: block;
  height: 5.1rem;
  text-align: center;
  @include media(phablet) {
    float: left;
  }
	svg{
    width: 90px;
    margin: 0.5rem auto;
    @include media(phablet) {
      width: 100px;
      margin: 1rem 0 0 1rem;
    }
    g {
      display: none;
      @include media(phablet) {
        display: block;
      }
    }
	}
  &:hover {
    border: none;
  }
}
.l-header-nav {
  display: block;
  overflow: hidden;
  border-bottom: solid 1px $layout-border-color;
  background: $white;
  @include media(phablet) {
    float: right;
    margin-right: gutter();
    border-bottom: none;
  }
  .page-link {
    display: block;
    float: left;
    padding: 0 2.5rem;
    font-family: $font-family-secondary;
    font-size: $font-size-small;
    color: lighten($font-color, 30%);
    line-height: 5rem;
    @include media(phablet) {
      line-height: 8.4rem;
    }
    &:hover {
      color: $font-color;
      border-bottom: solid 2px $brand-primary-color;
    }
  }
  .current {
    color: $font-color;
    border-bottom: solid 2px $brand-primary-color;
  }
}
