// Copyright 2015 Whosdustin
//
// Header Layout
//
.l-header {
  width: 100%;
  height: 8.6rem;
  position: fixed;
  top: 0;
  border-bottom: solid 1px $layout-border-color;
  background: $white;
  z-index: $z-header;
}
.l-header-title {
  display: block;
  float: left;
	svg{
		width: 100px;
    margin: 1rem 0 0 1rem;
	}
  &:hover {
    border: none;
  }
}
.l-header-nav {
  float: right;
  overflow: hidden;
  margin-right: gutter();
  .page-link {
    display: block;
    float: left;
    padding: 0 2.5rem;
    font-family: $font-family-secondary;
    font-size: $font-size-small;
    color: lighten($font-color, 30%);
    line-height: 8.6rem;
    &:hover {
      color: $font-color;
      border-bottom: solid 2px $brand-primary-color;
    }
  }
  .current {
    color: $font-color;
    border-bottom: solid 2px $brand-primary-color;
  }
}
