.form__input {
  font-family: $font-family-secondary;
  font-size: 0.8em;
}

.form__input--money {
  position: relative;
  &:after {
    position: absolute;
    top: 6px;
    left: 10px;
    content: '$';
  }
  input {
    padding-left: 25px;
  }
}
