.hero {
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.hero-title {
  margin-top: 0;
  font-size: 4rem;
  font-family: $font-family-secondary;
  color: #fff;
}

.hero-text {
  font-size: 2rem;
  font-family: $font-family-secondary;
  color: #fff;
}
