// Copyright 2015 Whosdustin.com
//
// Images
//

img {
  max-width:150%;
  vertical-align: middle;
}
.img-full {
  display: block;
  margin-right: -25%;
  margin-left: -25%;
}
.img-right {
  @include img-pull(right);
}
.img-left {
  @include img-pull(left);
}
