.sidepanel {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: $gutter-width;
  padding-top: ($gutter-width * 3);
  width: 500px;
  background: $white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.sidepanel--right {
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s;
}
.sidepanel--right.sidepanel--is-visible  {
  transform: translateX(0);
}

.sidepanel-close {
  @include transform(translateY(-50%));
  @include transition(opacity 0.2s);
  position: absolute;
  height: 44px;
  width: 44px;
  right: $gutter-width;
  top: ($gutter-width * 2);
  bottom: auto;
  overflow: hidden;
  background: none;
  border: 0;
  text-indent: 150%;
  white-space: nowrap;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 32px;
    left: 50%;
    top: 50%;
    background-color: #5c4b51;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:before {
    @include transform(translateX(-50%) translateY(-50%) rotate(-45deg));
  }
  &:after {
    @include transform(translateX(-50%) translateY(-50%) rotate(45deg));
  }
}
