// Copyright 2015 Whosdustin.com
//
// Post List
// Module styles a list of posts for the blog
// Created for the ability to update home page freely

.post-list {
  padding-left: 0;
  list-style: none;
  text-align: left;
  > li {
    margin-bottom: gutter();
  }
  h2 {
    margin-bottom:0;
  }
}
.post-meta {
    color: #ccc;
}
