---
title: Design Challenge Random Idea Generator
permalink: "/designchallenge/"
layout: vue
feature_image: "/images/design-challenge.png"
excerpt: Try a daily design challenge. Generate a Madlib and a hex number, then create
  whatever you think best represents that.
---

<div id="app" :style="{ backgroundColor: hexString }">
  <div class="display">

    <div class="words" :style="{color: secondaryColor}">
      <i class="word" :style="{borderColor: secondaryColor}" v-if="!adjectives">Adjective</i>
      <i class="word" v-else v-text="adjectives"></i>
      <i class="word" :style="{borderColor: secondaryColor}" v-if="!nouns">Noun</i>
      <i class="word" v-else v-text="nouns"></i>
    </div>

    <span :style="{color: secondaryColor}">{%raw%}{{hexString}}{%endraw%}</span>
    <button type="button" @click="randomize()" :style="{backgroundColor: secondaryColor, color: hexString}">Generate</button>
  </div>
  <footer :style="{color: secondaryColor}">
    <p>Designing with Constraints by <a :style="{color: secondaryColor}" href="http://whosdustin.com">whosdustin</a></p>
  </footer>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ "/js/design.js" | prepend: site.baseurl}}"></script>
