---
layout: default
---

<section class="billboard">
	<span class="pretitle">Hello, I am</span>
	<h1 class="title">Dustin Delatore</h1>
</section>

<article class="main article">
	{% for page in site.pages %}
		{% if page.title == 'About' %}
			<div class="meta">
				<div>
					<span><b>Current Status:</b> {{ page.status }}</span> •
					<span><b>Living in:</b>
						<span id="current_location">
  						<div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div>
						</span>
					</span>
				</div>
			</div>
			<div class="card__content">
				{{page.content}}
			</div>
		{% endif %}
	{% endfor %}

	<hr>

	<h3>Recent Article</h3>
	{% for post in site.posts limit: 1 %}
	<a class="card" href="{{ post.url | prepend: site.baseurl }}">
		<div class="content">
			<h2 class="title">{{ post.title }}</h2>
			<span class="meta">
				<time  datetime="{{post.date | date_to_xmlschema}}">
					{{ post.date | date: "%b %-d, %Y" }}
				</time>
			</span>
		</div>
	</a>
	{% endfor %}

	<hr>

	<h3>Latest Work</h3>
	{% for work in site.work %}
		<a href="{{work.link}}" target="_blank" rel="nofollow">{{work.title}}</a>
		<p>{{work.content}}</p>
	{% endfor %}

	<hr>

	<h3>Get In Touch</h3>
	<p>If you want to chat feel free to send me an <a href="mailto:dustin@delatore.me">email</a> or message me on <a href="https://twitter.com/whos_dustin" target="_blank">Twitter</a>. You can also find me on <a href="https://github.com/whosdustin" target="_blank">Github</a>, <a href="https://dribbble.com/whosdustin" target="_blank">Dribbble</a>, <a href="https://instagram.com/whos.dustin" target="_blank">Instagram</a>, and <a href="https://www.linkedin.com/in/whosdustin" target="_blank">Linkedin</a>.</p>

	<p>Recruiters, if you got this far, here is <a href="/cv/">my resumé</a>.</p>

	<hr>

	<h3 id="where-in-the-world">Where In The World</h3>

	<p>If you want to keep track of my travels. Here's a pretty sweet map of that.</p>

	<div class="embed__container">
		<iframe width="560" height="315" style="background:#f9f9f9;" src="https://nomadlist.com/whos_dustin/embed?date_start=2016-01-16&date_end=2017-05-10" scrolling="no" frameborder="0" allowfullscreen></iframe>
	</div>

</article>
