---
permalink: "/randomcolor/"
layout: vue
title: Random Color Generator
---

<div id="app" :style="{ backgroundColor: hexString }">
  <div class="display">
    <div class="words" :style="{color: secondaryColor}">
      <i class="word" :style="{borderColor: secondaryColor}" v-if="!adjective">Adjective</i>
      <i class="word" v-if="adjective" v-text="adjective"></i>
      <i class="word" :style="{borderColor: secondaryColor}" v-if="!noun">Noun</i>
      <i class="word" v-if="noun" v-text="noun"></i>
    </div>

    <span :style="{color: secondaryColor}">{%raw%}{{hexString}}{%endraw%}</span>
    <button type="button" @click="randomize()" :style="{backgroundColor: secondaryColor, color: hexString}">Generate Color</button>
  </div>
  <footer :style="{color: secondaryColor}">
    <p>Designing with Constraints by <a :style="{color: secondaryColor}" href="http://whosdustin.com">whosdustin</a></p>
  </footer>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  Vue.config.devtools = true;
  Vue.config.debug = true;

  function buildUrl(param) {
    return 'https://www.randomlists.com/data/'+param+'.json'
  }

  // var headers = {"Access-Control-Allow-Origin": "*","Access-Control-Allow-Headers": "Origin, X-Requested-With, Content-Type, Accept"}

  var app = new Vue({
    el: '#app',

    data: {
      results: '',
      nouns: [],
      adjectives: [],
      tinycolor: tinycolor('#FFFFFF')
    },

    computed: {
      hexString: function () {
        return this.tinycolor.toHexString()
      },
      secondaryColor: function () {
        return tinycolor(this.tinycolor).monochromatic()[2].toHexString()
      },
      noun: function () {
        return this.nouns[Math.floor(Math.random() * this.nouns.length)]
      },
      adjective: function () {
        return this.adjectives[Math.floor(Math.random() * this.adjectives.length)]
      }
    },

    methods: {
      randomHex: function () {
        this.tinycolor = tinycolor.random()
      },
      getWord: function(type) {
        var url = buildUrl(type);
        axios.get(url).then((response) => {
          if( type == 'nouns' ) {
            this.nouns = response.data.data;
          } else if ( type == 'adjectives' ) {
            this.adjectives = response.data.data;
          } else { return }
        }).catch( error => { console.log(error); });
      },
      randomize: function() {
        this.randomHex();
        this.getWord('nouns')
        this.getWord('adjectives')
      }
    }
  });

</script>
