@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  border: none; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.u-clearfix {
  *zoom: 1; }
  .u-clearfix:before, .u-clearfix:after {
    display: table;
    content: ' '; }
  .u-clearfix:after {
    clear: both; }

html {
  font-size: 62.5%; }

body {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #555555;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

a {
  color: #f79520;
  text-decoration: none; }
  a:visited {
    color: #c36e07; }
  a:hover {
    border-bottom: solid 1px #555555;
    color: #555555;
    text-decoration: none; }

pre,
code {
  border-radius: 3px;
  font-size: 15px; }

code {
  padding: 3px 8px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

blockquote {
  border: 0;
  font-size: 2rem;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

hr {
  color: #828282;
  width: 60%;
  border: none;
  height: 0;
  border-top: dotted 1px #828282;
  margin: 6.77966% auto;
  text-align: center; }
  hr:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white; }

.alert {
  margin-bottom: 1.69492%; }

@font-face {
  font-family: 'FiraMono';
  src: url("/fonts/FiraMono/eot/FiraMono-Medium.eot");
  src: url("/fonts/FiraMono/eot/FiraMono-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/FiraMono/woff2/FiraMono-Medium.woff2") format("woff2"), url("/fonts/FiraMono/woff/FiraMono-Medium.woff") format("woff"); }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif; }

.list-unstyle {
  margin: 0;
  padding: 0;
  list-style: none; }

small {
  font-family: "Open Sans", sans-serif;
  font-size: 1.49996rem; }

pre,
code {
  font-family: 'FiraMono';
  letter-spacing: -1px; }

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.u-right {
  float: right; }

.u-left {
  float: left; }

.u-center-text {
  text-align: center; }

.l-header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  border-bottom: solid 1px #e8e8e8;
  background: white;
  z-index: 100; }
  @media (min-width: 46.154em) {
    .l-header {
      height: 8.6rem; } }

.l-header-title {
  display: block;
  height: 5.1rem;
  text-align: center; }
  @media (min-width: 46.154em) {
    .l-header-title {
      float: left; } }
  .l-header-title svg {
    width: 90px;
    margin: 0.5rem auto; }
    @media (min-width: 46.154em) {
      .l-header-title svg {
        width: 100px;
        margin: 1rem 0 0 1rem; } }
    .l-header-title svg g {
      display: none; }
      @media (min-width: 46.154em) {
        .l-header-title svg g {
          display: block; } }
  .l-header-title:hover {
    border: none; }

.l-header-nav {
  display: block;
  overflow: hidden;
  border-bottom: solid 1px #e8e8e8;
  background: white; }
  @media (min-width: 46.154em) {
    .l-header-nav {
      float: right;
      margin-right: 1.69492%;
      border-bottom: none; } }
  .l-header-nav .page-link {
    display: block;
    float: left;
    padding: 0 2.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    color: #a2a2a2;
    line-height: 5rem; }
    @media (min-width: 46.154em) {
      .l-header-nav .page-link {
        line-height: 8.4rem; } }
    .l-header-nav .page-link:hover {
      color: #555555;
      border-bottom: solid 2px #f79520; }
  .l-header-nav .current {
    color: #555555;
    border-bottom: solid 2px #f79520; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8.6rem; }
  main:after {
    content: " ";
    display: block;
    clear: both; }

.home {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .home:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 46.154em) {
    .home {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto; }
      .home:after {
        content: " ";
        display: block;
        clear: both; } }

.l-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .l-row:after {
    content: " ";
    display: block;
    clear: both; }

.l-half {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 46.154em) {
    .l-half {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; } }

.l-last {
  float: right;
  margin-right: 0; }

.l-page-header {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.69492%; }
  .l-page-header:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 46.154em) {
    .l-page-header {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .l-page-header:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 69.231em) {
    .l-page-header {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto; }
      .l-page-header:after {
        content: " ";
        display: block;
        clear: both; } }

.l-page-article {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.69492%; }
  .l-page-article:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 46.154em) {
    .l-page-article {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .l-page-article:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 69.231em) {
    .l-page-article {
      max-width: 55%;
      margin-left: auto;
      margin-right: auto; }
      .l-page-article:after {
        content: " ";
        display: block;
        clear: both; } }

.l-footer {
  padding: 1.69492% 0;
  border-top: solid 1px #e8e8e8;
  font-size: 1.43rem;
  color: #828282; }
  .l-footer .l-row {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .l-footer .l-row:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 59.077em) {
      .l-footer .l-row {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto; }
        .l-footer .l-row:after {
          content: " ";
          display: block;
          clear: both; } }

.m-page-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif; }
  @media (min-width: 46.154em) {
    .m-page-title {
      font-size: 6.6rem; } }

.m-page-meta {
  margin: 0;
  text-align: center;
  font-size: 2.8rem;
  color: #828282; }

.m-post-list {
  padding-left: 0;
  list-style: none;
  text-align: left; }
  .m-post-list > li {
    margin-bottom: 1.69492%; }
  .m-post-list h2 {
    margin-bottom: 0; }

.m-post-meta {
  color: #828282; }

img {
  max-width: 150%;
  vertical-align: middle; }

.img-full {
  display: block;
  margin-right: -25%;
  margin-left: -25%; }

.img-right {
  margin: 1.69492%;
  margin-top: 0;
  margin-right: -50px;
  float: right;
  width: 50%; }

.img-left {
  margin: 1.69492%;
  margin-top: 0;
  margin-left: -50px;
  float: left;
  width: 50%; }

.alert {
  padding: 1.69492%;
  border: solid 1px transparent;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.87rem;
  text-align: center; }

.alert-success, .alert-success a {
  background: #eaf5dd;
  border-color: #87c442;
  color: #6da132; }
  .alert-success a {
    text-decoration: underline; }

.alert-info, .alert-info a {
  background: #f3f9fe;
  border-color: #3d9ae8;
  color: #1a81d8; }
  .alert-info a {
    text-decoration: underline; }

.alert-error {
  background: #f8a9aa;
  border-color: #c60f13;
  color: #970b0e; }

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  width: auto;
  border: none;
  border-radius: 3px;
  background: #f79520;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.49996rem; }
  .btn:hover {
    border: none;
    background: #c36e07;
    color: white;
    text-decoration: none; }
  .btn:visited {
    color: white; }

label {
  display: block;
  margin-bottom: 0; }

input,
textarea {
  box-sizing: border-box; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 2rem; }

legend {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 400; }

.form-group {
  position: relative; }

.form-input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.1rem 0 1.1rem 1rem;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #e8e8e8;
  background: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-size: 1.49996rem; }
  .form-input:focus {
    outline: 0;
    border-color: #3d9ae8; }
  .form-input.has-error {
    border-color: #c60f13; }
  .form-input.has-success {
    border-color: #87c442; }

.help-text {
  display: block;
  margin: -1rem 0 1rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem; }
  .help-text:after {
    display: block;
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    content: ''; }
  .help-text.has-error {
    color: #c60f13; }
    .help-text.has-error:after {
      background: url("/img/ico-sad.svg"); }

.has-error .ico-sad {
  background-color: #c60f13; }

.box {
  width: 90%;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 3rem -1rem black; }
  @media (min-width: 59.077em) {
    .box {
      width: 50%; } }

.box-header {
  text-align: center;
  padding: 2rem; }

.box-title {
  margin: 0; }

.box-body {
  padding: 2rem; }

.box-header + .box-body {
  padding-top: 0; }

.l-header {
  border-top: solid 4px #f79520; }

.st0 {
  fill: #f79520; }

.st1 {
  fill: #c36e07; }

#video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(https://0.s3.envato.com/files/143517199/preview.jpg) no-repeat;
  background-size: cover; }

pre,
code {
  color: #abb2bf;
  background-color: #282c34; }

.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .c {
    color: #5c6370; }
  .highlight .err {
    color: red; }
  .highlight .k {
    color: #c678dd; }
  .highlight .l {
    color: red; }
  .highlight .n {
    color: #abb2bf; }
  .highlight .o {
    color: #c678dd; }
  .highlight .p {
    color: #abb2bf; }
  .highlight .cm {
    color: #5c6370; }
  .highlight .cp {
    color: #5c6370; }
  .highlight .c1 {
    color: #5c6370; }
  .highlight .cs {
    color: #5c6370; }
  .highlight .gd {
    color: #e06c75; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gh {
    color: #61afef;
    font-weight: bold; }
  .highlight .gi {
    color: #98c379; }
  .highlight .gp {
    color: #abb2bf;
    font-weight: bold; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: red;
    font-weight: bold; }
  .highlight .kc {
    color: red; }
  .highlight .kd {
    color: red; }
  .highlight .kn {
    color: red; }
  .highlight .kp {
    color: #61afef; }
  .highlight .kr {
    color: red; }
  .highlight .kt {
    color: red; }
  .highlight .ld {
    color: red; }
  .highlight .m {
    color: red; }
  .highlight .s {
    color: #98c379; }
  .highlight .na {
    color: #d19a66; }
  .highlight .nb {
    color: #e5c07b; }
  .highlight .nc {
    color: red; }
  .highlight .no {
    color: #e5c07b; }
  .highlight .nd {
    color: red; }
  .highlight .ni {
    color: red; }
  .highlight .ne {
    color: red; }
  .highlight .nf {
    color: #56b6c2; }
  .highlight .nl {
    color: red; }
  .highlight .nn {
    color: red; }
  .highlight .nx {
    color: #abb2bf; }
  .highlight .py {
    color: red; }
  .highlight .nt {
    color: #e06c75; }
  .highlight .nv {
    color: red; }
  .highlight .ow {
    color: red; }
  .highlight .w {
    color: red; }
  .highlight .mf {
    color: red; }
  .highlight .mh {
    color: red; }
  .highlight .mi {
    color: #d19a66; }
  .highlight .mo {
    color: #d19a66; }
  .highlight .sb {
    color: red; }
  .highlight .sc {
    color: red; }
  .highlight .sd {
    color: red; }
  .highlight .s2 {
    color: #abb2bf; }
  .highlight .se {
    color: red; }
  .highlight .sh {
    color: red; }
  .highlight .si {
    color: #be5046; }
  .highlight .sx {
    color: red; }
  .highlight .sr {
    color: #56b6c2; }
  .highlight .s1 {
    color: #98c379; }
  .highlight .ss {
    color: #56b6c2; }
  .highlight .bp {
    color: red; }
  .highlight .vc {
    color: red; }
  .highlight .vg {
    color: red; }
  .highlight .vi {
    color: #e06c75; }
  .highlight .il {
    color: red; }
  .highlight .language-javascript .err {
    color: #abb2bf; }
  .highlight .language-javascript .o {
    color: #abb2bf; }
  .highlight .language-javascript .na {
    color: #61afef; }
  .highlight .language-javascript .kd {
    color: #c678dd; }
  .highlight .language-javascript .k {
    color: #e06c75; }
  .highlight .language-ruby .err {
    color: #abb2bf; }
  .highlight .language-ruby .n {
    color: #61afef; }
