<footer class="footer split" role="contentinfo">
	<div class="half">
		{% if page.url == '/' %}
			<h4>Contact Me</h4>
			{% include mailchimp-contact.html %}
		{% endif %}
	</div>
	<div class="half">
		<h4>The "Find Me Here" Links</h4>
		<nav class="footer-nav">
			<a class="nav-item" href="https://youtube.com/{{ site.youtube_channel}}" title="YouTube">
				<img class="social-icon" src="{{ "/images/social-icon-youtube@2x.jpg" }}" alt="Youtube icon">
				<span class="sr-only">YouTube</span>
			</a>
			<a class="nav-item" href="https://instagram.com/{{ site.instagram_username}}" title="Instagram">
				<img class="social-icon" src="{{ "/images/social-icon-instagram@2x.jpg" }}" alt="Instagram icon">
				<span class="sr-only">Instagram</span>
			</a>
			<a class="nav-item" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
				<img class="social-icon" src="{{ "/images/social-icon-twitter@2x.jpg" }}" alt="Twitter icon">
				<span class="sr-only">Twitter</span>
			</a>
			<a class="nav-item" href="https://github.com/{{ site.github_username }}" title="Github">
				<img class="social-icon" src="{{ "/images/social-icon-github@2x.jpg" }}" alt="Github icon">
				<span class="sr-only">Github</span>
			</a>
			<a class="nav-item" href="http://dribbble.com/{{ site.dribbble_username }}" title="Dribbble">
				<img class="social-icon" src="{{ "/images/social-icon-dribbble@2x.jpg" }}" alt="Dribbble icon">
				<span class="sr-only">Dribbble</span>
			</a>
			<a class="nav-item" href="https://medium.com/{{ site.medium_username }}" title="Medium">
				<img class="social-icon" src="{{ "/images/social-icon-medium@2x.jpg" }}" alt="Medium icon">
				<span class="sr-only">Medium</span>
			</a>
		</nav>
		<br/>
		<h4>The Legal Stuff To Seem Legit</h4>
		<p>Copyright &copy; {{ 'now' | date: '%Y' }} Dustin Delatore All Rights Reserved.</p>
		<p class="mario-note">P.S. Trying typing "<b>m a r i o</b>" for fun :)!</p>
		<nav class="footer-nav">
			<a class="nav-item" href="/privacy">Privacy Policy</a>
			<span class="nav-item">•</span>
			<a class="nav-item" href="/terms">Terms &amp; Conditions</a>
		</nav>
	</div>
</footer>
