<footer class="footer" role="contentinfo">
	<section>
		<h4>The Find Me Here Links</h4>
		<nav class="footer-nav">
			{% if site.github_username %}
				<a class="nav-item" href="https://github.com/{{ site.github_username }}" >
					Github
				</a>
				•
			{% endif %}
			{% if site.twitter_username %}
				<a class="nav-item" href="https://twitter.com/{{ site.twitter_username }}">
					Twitter
				</a>
				•
			{% endif %}
			{% if site.dribbble_username %}
				<a class="nav-item" href="http://dribbble.com/{{ site.dribbble_username }}" >
					Dribbble
				</a>
				•
			{% endif %}
			<a class="nav-item" href="{{ "/feed.xml" | prepend: site.baseurl }}" >
				RSS
			</a>
		</nav>
	</section>
	<section>
		<h4>The Legal Stuff To Seem Legit</h4>
		<p>Copyright &copy; 2017 Dustin Delatore All Rights Reserved.</p>
		<nav class="footer-nav">
			<a class="nav-item" href="/privacy">Privacy Policy</a>
			• <a class="nav-item" href="/terms">Terms &amp; Conditions</a>
		</nav>
	</section>
</footer>
