<header class="masthead" role="banner">
	<a class="brand" href="{{ site.baseurl }}/" itemscope itemtype="https://schema.org/Brand">
		<span itemprop="logo">
			{% include lgo-whosdustin.svg %}
		</span>
	</a>
	<nav id="nav_header" class="masthead-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<a class="nav-item" href="{{ site.baseurl }}/">Home</a>
		{% for page in site.pages %}
			{% if page.title %}
				{% comment %}
				I Should really fix this
				========================={% endcomment %}
				{% unless
					page.title == 'Login'
					or page.title == 'Resume'
					or page.title == 'Remote Work'
					or page.title == 'About'
					or page.title == 'Privacy Policy'
					or page.title == 'Terms and Conditions' %}
					<a class="nav-item" href="{{ page.url | prepend: site.baseurl }}">
						{{ page.title }}
					</a>
				{% endunless%}
			{% endif %}
		{% endfor %}
		<a class="nav-item" href="{{ site.baseurl }}/resources">Resources</a>
	</nav>
	<button class="nav-trigger" data-nav="nav_header">
		<span class="burger"></span>
		Menu
	</button>
</header>
