<header class="masthead" role="banner">
	<!-- <a class="sr-only" href="{{ site.baseurl }}/" itemscope itemtype="https://schema.org/Brand">
		Whosdustin
	</a>
	<button class="nav-trigger" data-nav="nav_header">
		<span class="burger"></span>
		Menu
	</button>
	<nav id="nav_header" class="masthead-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<a class="nav-item" href="{{ site.baseurl }}/">Home</a>
		<a class="nav-item" data-scroll="article" href="javascript:;">Articles</a>
		{% if page.url == '/' %}
		<a class="nav-item" data-scroll="shopify" href="javascript:;">Shopify</a>
		<a class="nav-item" data-scroll="youtube" href="javascript:;">YouTube</a>
		{% endif %}
	</nav> -->
</header>
