body {
	font-family: 'Georgia', serif;
	font-size: $font-size-base;
	color: $font-color-base;
	line-height: $line-height-base;
	background: #fff;
	transition: background 2s linear;
}

a {
	position: relative;
	color: $font-color-base;
	font-weight: bold;
	text-decoration: none;
	&::after {
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		border-top: solid 1px $font-color-base;
		content: '';
	}
}

hr {
	margin: 2.5em auto;
	width: 60%;
	height: 1px;
	background: #343434;
}

img {
	width: 100%;
}

img.emoji {
	width: 20px !important;
}
