.button {
	display: inline-flex;
	position: relative;
	padding: 0.5em 1em;
	border-top: solid 3px $font-color-base;
	color: $font-color-base;
	text-decoration: none;
	background: transparent;
	transition: all 0.1s linear;
	&::before {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 0;
		background: $font-color-base;
		content: '';
		z-index: -1;
		transition: all 0.1s linear;
	}
	&:hover {
		color: #fff;
		&::before {
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%
		}
	}
}
