.card {
  display: flex;
  border: solid 10px transparent;
  white-space: normal;
  background: #fff;
  &:hover {
    text-decoration: underline;
  }
  &:first-of-type {
    background: $brand-color-secondary;
  }
  &::after {
    background: transparent;
  }

  > .content {
    box-sizing: border-box;
    padding: 2em;
    border: solid 10px $font-color-base;
    width: 100%;

    > .title {
      margin-bottom: 0;
    }

  }

}
