.card {
	padding: 2em;
	margin-bottom: 2em;
}

.card__subtitle {
	font-size: 1em;
	text-decoration: underline;
}

.card__feature .card__title {
	position: relative;
	margin: 0 0 0.2em;
	padding-bottom: 0.2em;
	font-size: 2em;
	line-height: 1.2;
	border-bottom: solid 4px $font-color-base;
	@media (min-width: 640px ) {
		font-size: 3.5em;
	}
}

.card__meta {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 1em;
	font-style: italic;
	@media (min-width: 400px) {
		flex-flow: row;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.card__feature .card__meta {
	color: #999;
	font-size: 0.8em;
}
