.card {
  display: flex;
  border: solid 10px transparent;
  white-space: normal;
  background: #fff;
  &:hover {
    text-decoration: underline;
  }
  &:first-of-type {
    background: $brand-color-secondary;
  }
  &::after {
    background: transparent;
  }

  > .content {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 1em;
    border: solid 10px $font-color-base;
    width: 100%;
    > .title {
      margin: 0;
      font-size: ms(0);
    }
    @media (min-width: 640px) {
      padding: 2em;
      > .title {
        margin: 0;
        font-size: ms(1);
      }
    }
  }

}
