.footer {
	position: relative;
	padding: 2em;
	margin-top: 2em;
	background: $brand-color-secondary;
	font-family: $font-family-sans;
	font-size: 0.8em;

	&::before {
		position: absolute;
		background: $font-color-base;
		content: '';
		top: 10px;
		height: 10px;
		left: 2%;
		right: 2%;
	}
}

.footer-nav {
	> .nav-item {
		font-weight: 400;
		&::after {
			background: none;
		}
	}
}
