.masthead {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.main__container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	max-width: 1600px;
	margin: 0 auto;
}

.main__aside {
	flex-basis: 100%;
	max-width: 750px;
	@media (min-width: 1250px) {
		flex-basis: 20%;
	}
}

.main__item {
	align-items: center;
	max-width: 750px;
}

.main__article {
	width: 80%;
	max-width: 750px;
}
