.masthead {
	> .brand {
		display: block;
		height: auto;
		width: 90px;
		margin: 0.5em 1em;
		&::after {
			background: transparent; // Hide underline on logo
		}
	}
}

.masthead-nav {
	position: absolute;
	box-sizing: border-box;
	font-size: 20px;
	background: #fff;
	width: 100%;
	top: -1000px;
	padding: 1em 0;
	border-bottom: solid 10px $font-color-base;
	transition: all 0.4s ease;
	z-index: 1;
	> .nav-item {
		display: block;
		padding: 2%;
		font-family: $font-family-sans;
		color: $font-color-base;
		font-weight: 400;
		font-size: ms(0);
		&::after {
			background: none;
		}
	}
	&.-is-open {
		transform: translateY(264px);
	}
	@media (min-width: 640px) {
		position: initial;
		width: 60%;
		text-align: right;
		> .nav-item {
			display: inline-block;
			position: relative;
			margin: 0 2%;
			padding: 0;
		}
	}
}

.nav-trigger {
	position: absolute;
	display: block;
	right: 18px;
	top: 24px;
	padding-top: 18px;
	background: none;
	border: none;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: $font-color-base;
	font-family: $font-family-sans;
	outline: none;
	z-index: 2;
	> .burger,
	&::before,
	&::after {
		border-radius: 1px;
		position: absolute;
		display: block;
		left: 50%;
		height: 3px;
		width: 30px;
		content: '';
		background: $font-color-base;
		margin-left: -15px;
		transition: all 0.2s ease;
	}
	// All for the burger menu
	> .burger { top: 8px; opacity: 1;}
	&::before { top: 0; }
	&::after { top: 16px; }

	&.-is-open {
		> .burger {
			opacity: 0;
		}
		&::before,
		&::after {
			top: 8px;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
	@media (min-width: 640px) {
		display: none;
	}
}
