.meta {
  display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 1em;
	font-style: italic;
  color: #999;
	font-size: ms(-1);
	@media (min-width: 400px) {
		flex-flow: row;
		align-items: flex-start;
		justify-content: space-between;
    font-size: ms(0);
	}
}
