h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans;
}

h1 { font-size: ms(4);}

blockquote {
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
  font-size: ms(1);
  color: #747474;
  font-style: italic;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba($brand-color-secondary, 0.5);
    font-size: ms(3);
    line-height: 1;
    content: '\275D';
    z-index: -1;
  }
}
