h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans;
}

h1 { font-size: ms(4);}

h2 { font-size: ms(0);
@media (min-width: 640px) { font-size: ms(1) }
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
  font-size: ms(0);
  color: #747474;
  font-style: italic;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba($brand-color-secondary, 0.5);
    font-size: ms(3);
    line-height: 1;
    content: '\275D';
    z-index: -1;
  }
  > p {
    display: block;
    margin: 0;
  }

  cite {
    display: block;
    font-size: 0.7em;
    text-align: right;
  }

  @media (min-width: 640px) {
    font-size: ms(1);
  }
}
