// Typography // -------------------------------
$font-family-primary: 'Georgia', serif;
$font-family-secondary: 'Arial', sans-serif;
// $font-family-action: $font-family-secondary;
// Global Font Styling
$font-size-base: 22px;
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.6;

// Brand
$font-color-base: #343434;
$brand-color-primary: #eee;
$layout-border-color: #ccc;

$code-color: #abb2bf;
$code-bkg: #282c34;
