// Typography // -------------------------------
$font-family-serif: 'Neuton', serif;
$font-family-sans: 'Work sans', sans-serif;
// $font-family-action: $font-family-secondary;
// Global Font Styling
$modularscale: (
  base: 1em,
  ratio: 1.618
);

$font-size-base: ms(1);
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.5;





// Brand
$font-color-base: #343434;
$brand-color-primary: #eee;
$brand-color-secondary: scale-color(yellow, $lightness: 50%);
$layout-border-color: #ccc;

$code-color: #abb2bf;
$code-bkg: #282c34;
