// Typography // -------------------------------
$font-header: 'Permanent Marker', cursive
$font-body: 'Lato', sans-serif

// Global Font Styling
$modularscale: ( base: 18px, ratio: 1.5 )

$font-size-base: ms(0)
$line-height-base: 1.5

$radius: 20px
$shadow: 0 0 25px rgba(black, 0.1)
$vertical-space: 70px

// Brand
$font-color: #000
$primary-color: #D0021B
$white: #fff
$grey: #E7E7E7

$code-color: #abb2bf
$code-bkg: #282c34

// Media
$phone: 640px


=mobile-only
  @media screen and (max-width: 39.9375em)
    @content

=tablet-up
  @media screen and (min-width: 40em)
    @content

=laptop-up
  @media screen and (min-width: 64em)
    @content

=desktop-up
  @media screen and (min-width: 82em)
    @content
