// Copyright 2015 Whosdustin.com
//
// Base Styles
// Starter design for all base element styles.

// Dom Styles // -----------------------------

html {
  font-size: $html-base;
}
body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-normal;
  line-height: $line-height-base;
  color: $font-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

// Link Styles // ---------------------------

a {
  color: $brand-primary-color;
  text-decoration: none;
  &:visited {
    color: darken($brand-primary-color, 15%);
  }
  &:hover {
    border-bottom: solid 1px $font-color;
    color: $font-color;
    text-decoration: none;
  }
}

// Code Formating // -----------------------------
pre,
code {
  font-size: 15px;
  color: $white;
  border-radius: 3px;
  background-color: $shark;
}

code {
  padding: 3px 8px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Quotes // ---------------------------

blockquote {
  border:0;
  font-size: 2rem;
  letter-spacing: -1px;
  font-style: italic;
//  @include margin(null em(-50px) null em(-50px));
  > :last-child {
      margin-bottom: 0;
  }
}

// Horizontal Rule

hr {
  color: $grey;
  width: 60%;
  border: none;
  height: 0;
  border-top: dotted 1px $grey;
  margin: gutter() * 4 auto;
  text-align:center;
  &:after{
    content: '§';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $white;
  }
}


// Vertical Rhythm // -----------------------------
%vertical-rhythm {
    margin-bottom: gutter();
}
