  // Copyright 2015 Whosdustin.com
//
// Colors
// Color variables used throughout the site

// B&W
$emperor: rgb(85, 85, 85);
$grey: rgb(130, 130, 130);
$white: rgb(255, 255, 255);

// Oranges
$tree-poppy: rgb(247, 149, 32);

// Blues
$shark: rgb(40, 44, 52);
