// Copyright 2015 Whosdustin.com
//
// Base Styles
// Starter design for all base element styles.

// Dom Styles // -----------------------------

// html {
//   font-size: $html-base;
// }
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

// Link Styles // ---------------------------

a {
  color: $font-color-base;
  text-decoration: none;
  &:visited {
    color: darken($font-color-base, 15%);
  }
  &:hover {
    // border-bottom: solid 1px $font-color-base;
    color: $font-color-base;
    text-decoration: none;
  }
}

p > a {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 ($font-size-base - 2);
}

// Code Formating // -----------------------------
pre,
code {
  border-radius: 3px;
  font-size: 15px;
}

code {
  padding: 3px 8px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Quotes // ---------------------------

blockquote {
  border:0;
  font-size: 2rem;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
      margin-bottom: 0;
  }
}

// Horizontal Rule

hr {
  margin: ($gutter-width * 4) 0;
  color: #ccc;
  border: none;
  height: 0;
  border-top: dotted 1px #ccc;
  text-align:center;
  &:after{
    content: '§';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff;
  }
}


// Vertical Rhythm // -----------------------------
%vertical-rhythm {
    margin-bottom: gutter();
}
