// Copyright 2015 Whosdustin.com
//
// Typography
//

@font-face {
  font-family: 'FiraMono';
  src: url('/fonts/FiraMono/eot/FiraMono-Medium.eot');
  src: url('/fonts/FiraMono/eot/FiraMono-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/FiraMono/woff2/FiraMono-Medium.woff2') format('woff2'),
       url('/fonts/FiraMono/woff/FiraMono-Medium.woff') format('woff'),
}

// Headings // ----------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
}

// Lists // ------------------------------

.list-unstyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Minor Stuff // ------------------------

small {
  font-family: $font-family-secondary;
  font-size: $font-size-small;
}

pre,
code {
  font-family: 'FiraMono';
  letter-spacing: -1px;
}
