// Copyright 2015 Whosdustin.com
//
// Variables
//All global variables reside in this file.


// Typography // -------------------------------
$font-family-primary: 'Gentium Book Basic',Georgia, serif;
$font-family-secondary: 'Open Sans', sans-serif;
// $font-family-action: $font-family-secondary;
// Global Font Styling
$font-size-base: 22px;
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.6;

// Brand
$brand-color-primary: #FF6F41;
$layout-border-color: #ccc;

$code-color: #abb2bf;
$code-bkg: #282c34;
