<section class="l-row">
  <div class="l-half">
    <ul class="list-unstyle">
      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <span class="username">Github</span>
        </a>
      </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="username">Twitter</span>
        </a>
      </li>
      {% endif %}
      {% if site.dribbble_username %}
      <li>
        <a href="http://dribbble.com/{{ site.dribbble_username }}">
          <span>Dribbble</span>
        </a>
      </li>
      {% endif %}
      <li class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span>RSS</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="l-half l-last">
    <p>
      {{ site.description | truncatewords: 13 }} Learn more <a href="{{ site.about }}">about me</a>.
    </p>
  </div>
</section>
