<footer role="contentinfo" class="footer wrapper">
  <section class="row">
    <div class="column column--centered column--1-of-2">
      <p class="text--center">
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" >
            <span class="username">Github</span>
          </a>
          •
        {% endif %}
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="username">Twitter</span>
          </a>
          •
        {% endif %}
        {% if site.dribbble_username %}
          <a href="http://dribbble.com/{{ site.dribbble_username }}" >
            <span>Dribbble</span>
          </a>
          •
        {% endif %}
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" >
            <span>RSS</span>
          </a>
      </p>
    </div>
  </section>
</footer>
