<a class="l-header-title" href="{{ site.baseurl }}/" data-event="Logo | Went 'Home' from '{{ page.title }}' page">
  {% include lgo-whosdustin.svg %}
</a>
<nav class="l-header-nav">
  {% for link in site.navigation %}
  {% assign current = nil %}
  {% if page.url contains link.url %}
    {% assign current = 'current' %}
  {% endif %}
    <a href="{{ link.url }}"  class="{% if current %} {{ current }} {% endif %} page-link" data-event="Header | Visited '{{ link.title }}' from '{{ page.title }}' page">{{ link.title }}</a>
  {% endfor %}
</nav>
