<!DOCTYPE html>
<!--
|############################|
|👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾|
|👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾|
|👾 👾 👾👾👾👾💢👾👾👾 👾 👾👾👾 |
|            /               |
|           /   pew pew      |
|         🚀                 |
|############################|-->
<html>
	{% include head.html %}
	<body>
		{% include header.html %}

		{% if page.url == '/' %}
			<div class="bio">
				<div class="bio__content">
					<h1 class="bio__title">Dustin is a Ui&nbsp;Developer.</h1>
				</div>
				<div class="bio__media">
					<img src="images/img-dustin-delatore.png" alt="Dustin Delatore" />
				</div>
			</div>
		{% endif %}

		<main role="main" class="main__container">
			{{ content }}
		</main>

		{% include footer.html %}

		{% include mario.html %}
		<script type="text/javascript" src="{{site.baseurl}}/js/keypress-2.1.4.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
  </body>
</html>
