<!DOCTYPE html>
<!--
########################################
## Never gonna give you up, never gonna let you down
## Never gonna run around and desert you
## Never gonna make you cry, never gonna say goodbye
## Never gonna tell a lie and hurt you
########################################-->
<html>
	{% include head.html %}
	<body>
		{% include header.html %}

		<main role="main" class="main__container">
			{{ content }}
		</main>

		{% include footer.html %}

		{% include mario.html %}
		<script type="text/javascript" src="{{site.baseurl}}/js/keypress-2.1.4.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
  </body>
</html>
