// // Copyright 2015 Whosdustin.com
// //
// // Footer Layout
// //
//
.footer {
  padding: 2rem 0;
  border-top: solid 1px $layout-border-color;
  font-size: $font-size-base * 0.65;
  font-family: $font-family-secondary;
}
.footer a {
  font-family: $font-family-secondary;
}
