// // Copyright 2015 Whosdustin.com
// //
// // Main Container Layouts
// //
//
// // Sites Container
body > .wrapper {
  min-height: 100vh;
  @media (min-width: 1600px) {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  }
}

article {
  margin-bottom: $gutter-width * 2;
}
