// Copyright 2015 Whosdustin.com
//
// Brand Theming
//

// Brand border
.masthead {
  border-top:solid 4px $brand-color-primary;
}

.hero {
  background-color: $brand-color-primary;
}

// Logo // --------------------------

// SVG classes
.st0{fill:$brand-color-primary;}
.st1{fill: #FFB44B}
// darken($brand-color-primary, 15%)
